html,body{
	background-color: #f5f5f5;
}

#container{
	width: 550px;
	margin: 0 auto;
	margin-top: 50px;
	text-align: center;
}

h1{
	font: normal bold 100px/1.5 'Comic Sans MS', cursive;
	color: #ead7d7;
}

#todos_wrap{
	width: 550px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

#input_original{
	width: 100%;
	outline: none;
	font: normal normal 24px/1.6 'Helvetica Neue', Helvetica, 'Microsoft YaHei', Arial, serif;
	padding: 16px 16px 16px 60px;
	box-sizing: border-box;
	border: none;
}

#input_original::-webkit-input-placeholder { /* WebKit browsers */
    color: #e6e6ea;
    font-style: italic;
}

#input_original:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #e6e6ea;
    font-style: italic;
}

#input_original::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #e6e6ea;
    font-style: italic;
}

#input_original:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #e6e6ea;
    font-style: italic;
}

.items_wrap{
	position: relative;
}

.items_wrap::after{
	content: "â¯";
	position: absolute;
	display: block;
	height: 70px;
	width: 50px;
	text-align: center;
	font: normal bold 24px/70px 'Helvetica Neue', Helvetica, 'Microsoft YaHei', Arial, serif;
	color: #e6e6ea;
	top: -70px;
	left: 0px;
}

.items_wrap li{
	height: 60px;
	position: relative;
	font: normal normal 24px/60px 'Helvetica Neue', Helvetica, 'Microsoft YaHei', Arial, serif;
	color: #e6e6ea;
	text-align: left;
	border-top: 2px dashed #ccc;
}

.need_to_do{
	width: 50px;
	height: 60px;
	position: absolute;
	top: 0;
	left: 0;
	font: inherit;
	font-weight: bold;
	color: inherit;
	text-align: center;
}

.to_do_finished{
	color: #85d1c2;
}

.todo_text{
	padding: 0 60px;
	display: block;
	color: #000;
	text-decoration: none;
}

.to_do_line_through{
	text-decoration: line-through;
	color: #ccc;
}

.btn_del{
	position: absolute;
	width: 40px;
	height: 60px;
	top: 0;
	right: 10px;
	font: inherit;
	font-weight: bold;
	color: inherit;
	text-align: center;
	transition: all 0.2s;
}

.btn_del:hover{
	font-weight: bold;
	text-shadow: 0 0 1px #999,
	0 0 20px rgba(234, 215, 215, 0.9);
	-webkit-transform: scale(1.3);
	-ms-transform: scale(1.3);
	transform: scale(1.3);
}

.todo_edit{
	color: #999;
	font: normal normal 24px/58px 'Helvetica Neue', Helvetica, 'Microsoft YaHei', Arial, serif;
	border: 1px dashed #ead7d7;
	margin-left: 50px;
	padding-left: 10px;
	width: 445px;
}

.footer{
	border-top: 2px dashed #ead7d7;
	height: 50px;
	line-height: 50px;
	font: normal normal 14px/50px 'Helvetica Neue', Helvetica, 'Microsoft YaHei', Arial, serif;
	color: #999;
	text-align: center;
	position: relative;
}

.footer::before{
	content: "";
	display: block;
	position: absolute;
	height: 5px;
	width: 538px;
	border: 1px solid #ccc;
	top: 50px;
	left: 5px;
	background-color: white;
}

.footer>span{
	float: left;
	text-align: left;
	text-indent: 2em;
}

.status_wrap{
	margin: 0;
	padding: 0;
	list-style: none;
	position: absolute;
	right: 0;
	left: 0;
}

.status_wrap li{
	display: inline;
}

.status_wrap li a{
	color: #999;
	border-width: 1px;
	border-style: solid;
	border-radius: 4px;
	padding: 5px;
	border-color: transparent;
}

.status_wrap li a:hover{
	border-color: rgba(175, 47, 47, 0.15);
}

.status_wrap .selected{
	border-color: rgba(175, 47, 47, 0.3);
}

#description{
	margin-top: 50px;
	font: normal normal 13px/1.5 'Microsoft YaHei', cursive;
	color: #999;
}